* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMonoNerdFont;
    font-size: 15px;
    border-bottom: none;
    color: black;
}

window#waybar {
    background: #FAF2EB ;
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.focused {
    color: black;
    font-weight: bold;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
}
