* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono;
    font-size: 14px;
    border-bottom: none;
    color: white;
}

window#waybar {
    background: #808080;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #696969  ;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
}
